html{
    height: 100%;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100%;
}
footer{
    margin-top: auto;
}
main > .container{
    padding: 30px 0;
}
.formagregar{
    margin: 20px;
}
